<div class="container">
    <div>
        <div id="numbers" class="columns">
            <button type="button" class="btn-disabled" disabled="true"  >
                `
            </button>
            <button type="button" class="btn-disabled" disabled="true"  >
                1
            </button>
            <button type="button" class="btn-disabled" disabled="true">
                2
            </button>
            <button type="button" class="btn-disabled" disabled="true" >
                3
            </button>
            <button type="button" class="btn-disabled"  disabled="true"  >
                4
            </button>
            <button type="button" class="btn-disabled"  disabled="true"  >
                5
            </button>
            <button type="button" class="btn-disabled"  disabled="true"  >
                6
            </button>
            <button type="button" class="btn-disabled"  disabled="true"  >
                7
            </button>
            <button type="button" class="btn-disabled"  disabled="true"  >
                8
            </button>
            <button type="button" class="btn-disabled"  disabled="true"  >
                9
            </button>
            <button type="button" class="btn-disabled"  disabled="true"  >
                0
            </button>
            <button type="button" class="btn-disabled"  disabled="true"  >
                -
            </button>
            <button type="button" class="btn-disabled"  disabled="true"  >
                =
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn" style="user-select: none; width: 62px;">
                Del
            </button>
        </div>
        <div id="letters" class="columns">
            <button type="button" class="btn-disabled" style="visibility: hidden; user-select: none; width: 40.5px;">
            </button>
            <button type="button" class="btn-disabled" disabled="disabled"  >
                ;
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn">
                ς
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                ε
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                ρ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                τ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                υ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                θ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                ι
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                ο
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                π
            </button>
            <button type="button" class="btn-disabled" disabled="true"  >
                [
            </button>
            <button type="button" class="btn-disabled" disabled="true"  >
                ]
            </button>
            <button type="button" class="btn-disabled" disabled="true" style="user-select: none; width: 50.5px;">
                \
            </button>
        </div>
        <div id="letters" class="columns">
            <button type="button" class="btn" style="visibility: hidden; user-select: none; width: 53.75px;">
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                α
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                σ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                δ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                φ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                γ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                η
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                ξ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                κ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                λ
            </button>
            <button type="button" class="btn-disabled" disabled="true"  >
                ΄
            </button>
            <button type="button" class="btn-disabled" disabled="true"  >
                '
            </button>
            <button type="button" class="btn-disabled" disabled="true" style="visibility: hidden; user-select: none; width: 70.25px;">
            </button>
        </div>
        <div id="letters" class="columns">
            <button type="button" class="btn-disabled"  disabled="true" style="user-select: none; width: 70.25px;">Shift</button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                ζ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                χ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                ψ
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                ω
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                β
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                ν
            </button>
            <button (click)="keyboardClick($event)" type="button" class="btn"   >
                μ
            </button>
            <button type="button" class="btn-disabled" disabled="true"  >
                ,
            </button>
            <button type="button" class="btn-disabled" disabled="true"  >
                .
            </button>
            <button type="button" class="btn-disabled" disabled="true"  >
                /
            </button>
            <button type="button" class="btn-disabled" disabled="true" style="user-select: none; width: 86.75px;">Shift</button>
        </div>
        <div id="special-characters" class="columns">
            <button type="button" class="btn-disabled" disabled="true" style="user-select: none; width: 47.5px;">
                Ctrl
            </button>
            <button type="button" class="btn-disabled"  disabled="true" style="user-select: none; width: 47.5px;">
                Alt
            </button>
            <button type="button" class="btn-disabled" disabled="true" style="user-select: none; width: 285px;">
                Space
            </button>
            <button type="button" class="btn-disabled"  disabled="true" style="user-select: none; width: 47.5px;">
                Alt
            </button>
            <button type="button" class="btn-disabled"  disabled="true" style="user-select: none; width: 47.5px;">
                Ctrl
            </button>
        </div>
    </div>
</div>
