#not-found-primary{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    animation: drop .4s linear forwards;
}
#not-found-secondary{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    animation: drop .6s linear forwards;
}

#not-found-paragraph{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    animation: drop .6s linear forwards;
    margin-top: 20px; 
    animation: drop .8s linear forwards;
}

@keyframes drop {
  0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
  5% {opacity: .7;}
  50% {transform: translateY(0px) scaleY(1); opacity: 1;}
  65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
  75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
  100% {transform: translateY(0px) scaleY(1); opacity: 1;}
}

/* Responsive Design */

/*
Phone device
*/

@media screen and (min-width: 350px){
    /* Body */

    /* Input Field */

    /* About Field */

    /* Typography */
    #not-found-primary{
        font-size: 20vw;
    }
}

/*
Tablet device
*/

@media screen and (min-width: 700px){
    /* Body */

    /* Input Field */

    /* About Field */

    /* Typography */
    #not-found-primary{
        font-size: 20vw;
    }
}

/*
Desktop device
*/

@media screen and (min-width: 1100px){
    /* Body */

    /* Input Field */

    /* About Field */

    /* Typography */
    #not-found-primary{
        font-size: 20vw;
    }
}