<div class="outer">
    <div class="body-main">
      <h3>COMO USAR?</h3>
      <div class="wrapper" style="margin-left: 25px; margin-right: 25px;">
      <h2>Mecanismo de busca:</h2>
      <p>As buscas podem ser realizadas utilizando o teclado ABNT-2 onde os caracteres latino serão trocados pelos respectivos caracteres grego de acordo com o layout do teclado grego moderno, as buscas também podem ser feitas utilizando o teclado grego nativo</p>

       <h2>Layout do teclado:</h2>
      <img class="responsive-image" src="assets\images\keyboard-layout.png">
      <p>Caso haja alguma dificuldade, ao clicar no teclado no canto direto do campo de busca, o usuario terá acesso a um teclado virtual.
        <br>O layout do teclado virtual é o mesmo layout utilizado para efetuar a troca de caracteres.<br>
      </p>

       <h2>Zoom na versão Desktop:</h2>
      <img class="responsive-image" src="assets\images\zoom-in.png">
      <p>Para os usuários Desktop, ao passar o mouse sobre a palavra uma função zoom-in é ativada para auxiliar na visualização dos diacriticos.</p>

      <h2>Texto original:</h2>
      <img class="responsive-image" src="assets\images\dicionario.png">
      <p>As palavras são representadas no dicionário da seguinte forma: palavra, declinação, classe, gênero, etimologia e significado
        <br>Algumas palavras apresentam infleccção e observação.<br>
        <br><br>
      </p>
      </div>
    </div>
</div>