<div class="outer">
    <div class="body-main">
        <h3>ISIDRO PEREIRA</h3>
        <h1>Dicionário Grego-Português</h1>
        <h4>Digite a palavra grega</h4>
        
      <div class="main-input">
          <div class="keyboard-button">⌨️</div>
          <input #mobileinput class="input-field" maxlength="20">
      </div>
  
      <div class="main-input">
        <section>
          <p class="query-result">Resultado da busca: <strong>{{query}}</strong></p>
          <p class="not-found" >Sorry. Nothing Found</p>
          </section>
      </div>
  
      <div class="about">
        <h2 class="about-header">Sobre o Dicionário</h2>
          <p>Versão digitalizada do Dicionário de Grego-Português de Isidro Pereira.</p>
      </div>
    </div>
  </div>