<div *ngIf="display" class="bondary">
  
    <div class="example-box" appFreeDragging>
      <app-keyboard (keyPressed)="keyboardEvent($event)"></app-keyboard>
      <div (click)="toggle()" class="exit-handle">X</div>

      <div class="example-handle" appFreeDraggingHandle>
          <svg width="20px" fill="currentColor" viewBox="0 0 25 25"> -->
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
      </div>
    </div>
</div>

<div class="outer">
  
<div class="body-main">
    <h3>ISIDRO PEREIRA</h3>
    <h1>Dicionário Grego-Português</h1>
    <h4>Digite a palavra grega</h4>
    
  <div class="main-input">
      <div class="keyboard-button" (click)="toggle()">⌨️</div>
      <input #input class="input-field" (keyup)="replaceCharacters()" maxlength="20">
  </div>

  <div class="main-input">
    <section>
      <p class="query-result">Resultado da busca: <strong>{{query}}</strong></p>
      <p class="not-found" *ngIf="results.length < 1 && hasQuery">Sorry. Nothing Found</p>
      <div class="queryresults" *ngFor="let result of results">
        <app-word-result [word]="result" ></app-word-result>
      </div>
      </section>
  </div>

  <div class="about">
    <h2 class="about-header">Sobre o Dicionário</h2>
      <p>Versão digitalizada do Dicionário de Grego-Português de Isidro Pereira.</p>
  </div>
</div>
</div>